
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    background-color: beige;

}


#id_titre{
	text-align: center; 
	color : blue;
}



#id2{
	width:150px;
	background-color:greenyellow;
	color:grey;
	height: 50px;
    text-align: center;	
}



.affiche{
	margin:0px auto 0px auto;
	height:345px;
	width:800px;
}
















